<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#mainContent").load("login")
        })
        async function check_cred(site, entry) {
            site = `${window.origin}/` + site + `/`;
            const response = await fetch(site, { method: "POST", credentials: "include", body: JSON.stringify(entry), cache: "no-cache", headers: new Headers({ "content-type": "application/json" }) });
            const user = await response.text();
            return user;
        }
        var user_data;
        var ticker;
        var epoch;
        var span;
        var pre;
        var ori;
        var mystock;
        var image;
        var pricesStocks=[]
        let saved_stocks;
        let payment;
    </script>
</head>
<body>
    <div class="mainContent" id="mainContent">
    </div>
</body>
</html>